/******************INDEX.HTML*****************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*HEADER*/
header a h1 img{
    height: 80px;
    padding: 5px 0px 5px 20px;
    
    
}
.bg-light{
    background-color: #c01e1e !important;
}
/*MAIN*/
.main{
    padding: 10px 10px 10px 10px;
}
.main h2{
    
    font-size: 50px;
    padding: 10px 0px 10px 0px;;
    
}
main{
    background-color: #EBE9E9;
    
}
.noticias{
    display: grid;
    justify-content: space-around;
    margin: 0px 100px 0px 100px;
}
.noticias article{
    border: 3px solid grey;
    text-align: justify;
    display: flex;
}
.noticias iframe{
    width: 200%;
    height: 60vh;
}
.noticias h3{
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}
.noticias div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    padding: 0px 20px 0px 20px;
}

.noticias2{
    margin: 100px 50px 0px 50px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1 fr 1fr;
    text-align: justify;
    gap: 40px;
    margin-right: 100px;
    margin-left: 100px;
}
.card.noticias2-img1 a {
    text-decoration: none;
    color: rgb(238, 248, 248);
}
.card.noticias2-img2 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.card.noticias2-img3 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.card.noticias2-img4 a {
    text-decoration: none;
    color: rgb(238, 248, 248);
}
.noticias2-img1{
    grid-column: span 2 ;
}
.noticias2-img3{
    width: 100% !important;
}
.noticias2-img2{
    width: 100% !important;
}
.noticias2-img4{
    grid-column: span 2 ;
}
.noticias2 img{
    
    
    border-radius: 5%;
}
.noticias2 article{
    margin: 0px 10px;
}
.noticias2 h3{
    font-size: 20px;
}
.h3{
    font-size: 30px;
    margin-top: 30px;
    font-size: 35px;
    padding: 10px 0px 10px 0px;;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}
.noticias3{
    margin: 50px 50px 0px 50px;
    justify-content: center;
    align-items: center;
}
.noticias3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.noticias3 iframe{
    height: 200px;
    width: 100%;
}
.noticias3 article{
    margin: 0px 10px;
}
/*FOOTER*/
#redes {
    background-color: #333; 
    color: white; 
    padding: 20px 0px 10px; 
}

#redes ul {
    list-style-type: none; 
    display: flex;
    justify-content: center; 
    align-items: center;
}

#redes ul li {
    margin: 0 10px;
}

#redes ul li a {
    text-decoration: none;
}

#redes ul li img {
    width: 40px; 
    height: 40px; 
}




/******************CREAR-CUENTA.HTML-------INICIAR-SESION.HTML*****************************/
.cuenta{
    justify-content: center;
    display: flex;
    
    /* position: absolute;
    top:20px; */
    
    padding-left: 3%;
    

}
.cuenta section{
    border:5px solid black ;
    border-radius: 15%;
    padding: 3%;
    margin: 10%;
}
#cuenta-div{
    display: flex;
    justify-content: space-between;
}
input{
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.cuenta h2{
    text-decoration: underline;
}



/******************MISTERIO.HTML*****************************/
.misterio p{
    text-align: justify;
    font-size: 21px;
}
.misterio h2{
    font-size: 50px;
    padding: 10px 0px 10px 0px;;
    
}
.misterio{
    padding: 0px 100px 0px 100px;
    
}
.misterio img{
    width: 100%;
    margin-bottom: 20px;
}
.misterio iframe{
    width: 50%;
    height: 400px;
}
/******************SOBRE-NOSOTROS.HTML*****************************/
#nosotros section p{
    font-size: 21px;
    text-align: justify;
}
/* #nosotros{
    padding: 0px 100px 0px 100px;
} */
#nosotros{
    padding-left: 7%;
    padding-right: 7%;
}
#nosotros h2{
    font-size: 50px;
    padding: 10px 0px 10px 0px;;
    
}
#nosotros h3{
    font-size: 35px;
    padding: 10px 0px 10px 0px;;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.JJJ{
    display: grid;
    grid-template-columns: 70% 30%;
    
}
.JJJ img{
    width: 100%;
    height: 100%;
    padding: 20px 30px 40px 30px;
}

.carousel{
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    height: 900px;
}
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: sans-serif;
  }
.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
  }
  .formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;
  }
  .formulario__titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
  }
  .formulario__input, .formulario__label, .formulario__submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
  }
  .formulario__input {
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
  }
  .formulario__input:focus {
    outline: 1px solid rgba(0,0,0,0.7);
  }
  .formulario__input:focus + .formulario__label{
    margin-top: -135px;
  }
  .formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
  }
  .formulario__submit {
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  .fijar {
    margin-top: -135px;
  }
/******************MEDIA QUERY*****************************/
@media screen and (max-width: 1080px) {
    .noticias2 .card-text{
        display: none;
    }
    .noticias3 iframe{
        height: 100%;
    }
}
@media screen and (max-width: 1020px){
    .noticias{
        height: 350px;
        margin:0px 40px 0px 40px;
    }
    .noticias iframe{
        height: 100%;
    }
    .noticias2{
        display: grid;
        grid-template-rows: 300px 300px;
        margin:70px 40px 0px 40px;
    }
    .noticias2-img2 h5, .noticias2-img3 h5{
        font-size: 15px;
    }
}
@media screen and (max-width: 760px){
    h2{
        font-size: 20px;
    }
    .noticias{
        height: 300px;
    }
    .noticias h3{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .noticias p{
        font-size: 13px;
    }
    .noticias2{
        display: grid;
        grid-template-rows: 250px 250px;
    }
    .noticias2-img2 h5, .noticias2-img3 h5{
        font-size: 14px;
    }
    .noticias2 p{
        display: none;
    }
    .noticias3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    
}
@media screen and (max-width: 660px){
    .noticias{
        height: 250px;
    }
    .noticias h3{
        font-size: 17px;
    }
    .noticias p{
        font-size: 10px;
    }
    .noticias div{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 5px;
        padding: 0px 10px 0px 10px;
    }
    .noticias2{
        display: grid;
        grid-template-rows: 200px 200px;
        gap: 10px;
    }
    .noticias2-img2 h5, .noticias2-img3 h5{
        font-size: 12px;
    }
}
@media screen and (max-width: 580px){
    .noticias{
        height: 220px;
        margin-bottom: 40px;
    }
    .noticias h3{
        font-size: 15px;
    }
    .noticias p{
        font-size: 9px;
    }
    .noticias2{
        display: grid;
        grid-template-rows: 180px 180px;
    }
}
@media screen and (max-width: 580px){
    .noticias{
        height: 200px;
    }
    .noticias p{
        display: none;
    }
    .noticias iframe{
        width: 70%;
    }
    .noticias2-img1 h5, .noticias2-img4 h5{
        font-size: 15px;
    }
    .noticias3{
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px 20px 0px 20px;
    }
    .noticias2-img2 h5, .noticias2-img3 h5{
        font-size: 10px;
    }
}
@media screen and (max-width: 510px){
    .noticias2{
        display: grid;
        grid-template-rows: 160px 160px;
        margin:70px 20px 0px 20px;
    }

}
@media screen and (max-width: 450px){
    .noticias{
        margin:0px 20px 0px 20px;
    }
    .noticias2{
        display: flex;
        flex-wrap: wrap;
    }
    #redes ul li {
        margin: 0 10px;
    }
    #redes ul li img {
        width: 30px; 
        height: 30px; 
    }
    #redes ul{
        margin-right: 15px;
    }
}
@media screen and (max-width: 1150px){
    .JJJ img{
        width: 100%;
        height: 400px;
        padding: 20px 0px 40px 30px;
    }
    #nosotros section p{
        font-size: 1rem;
        
    }
    .carousel{
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        height: 680px;
    }

}
@media screen and (max-width: 1000px){
    .carousel{
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        height: 600px;
    }
}
@media screen and (max-width: 850px){
    .carousel{
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        height: 550px;
    }
    .JJJ img{
        width: 100%;
        height: 300px;
        padding: 20px 0px 40px 30px;
    }
}
@media screen and (max-width: 700px){
    .carousel{
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        height: 450px;
    }
    .JJJ img{
        width: 100%;
        height: 250px;
        padding: 20px 0px 40px 30px;
    }
}
@media screen and (max-width: 600px){
    .carousel{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        height: 540px;
    }
    .JJJ img{
        width: 100%;
        height: 200px;
        padding: 20px 0px 40px 30px;
        
    }
}
@media screen and (max-width: 530px){
    .carousel{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        height: 480px;
    }
}
@media screen and (max-width: 480px){
    .JJJ{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 0px 30px 0px;
        height: 100%;
        width: 100%;
    }
    .JJJ img{
        width: 100%;
        height: 400px;
        padding: 0px 0px 0px 0px;
        
    }
    .JJJ img{
        order: 1;
    }
    .carousel{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        height: 400px;
    }
}
@media screen and (max-width: 430px){
    .carousel{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        height: 370px;
    }
}