.cuenta{
    justify-content: center;
    display: flex;
    padding-left: 3%;
    background-color: $color-principal;
    section{
        border:5px solid black ;
        border-radius: 15%;
        padding: 3%;
        margin: 10%;
        h2{
            text-decoration: underline;
        }
        form{

        }
        #cuenta-div{
            display: flex;
            justify-content: space-between;
        }
        div{
            label{

            }
            input{
                height: 30px;
                width: 200px;
                display: flex;
                justify-content: flex-end;
                margin-bottom: 10px;
            }
        }
    }
}