header{
    .bg-light{
        background-color: #c01e1e !important;
    }
    nav{
        div{
            a{
                h1{
                    img{
                        height: 80px;
                        padding: 5px 0px 5px 20px;
                    }
                }
            }
            button{
                span{

                }
            }
            div{
                ul{
                    .nav-item{
                        a{

                        }
                    }
                }
            }
        }
    }
}